{% extends 'base.html.twig' %}

{% block title %}Edit Rapporten{% endblock %}

{% block body %}
    <h1>Edit Rapporten</h1>

    {{ include('rapporten/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rapporten_index') }}">back to list</a>

    {{ include('rapporten/_delete_form.html.twig') }}
{% endblock %}
