{% extends 'base.html.twig' %}

{% block title %}New Rapporten{% endblock %}

{% block body %}
    <h1>Create new Rapporten</h1>

    {{ include('rapporten/_form.html.twig') }}

    <a href="{{ path('rapporten_index') }}">back to list</a>
{% endblock %}
